.grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

.square {
  width: 100px;
  height: 100px;
  font-size: 5rem;
  color: #e8e5e5;
  border: solid 1px solid #000;
}

.square_o {
  background-color: #97cba9
}

.square_x {
  background-color: #f76b8a;
}

p {
  font-size: 2rem;
  text-align: center;
}